*{
    box-sizing: border-box;
}

main h2{
    text-align: center;
    color:#191970;
    padding: 2em;
}



body{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color:black;
    background-color:snow;
}
a{
    color: 	#191970;
    text-decoration: none;
}

header{
    /*background-color:ghostwhite;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	animation: ease-in animat 1s
}



header .container .logo{
   width: 100px; 
   height: auto;

}

header .container  figcaption{
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgb(163, 152, 152);
 
 }


/*icono para que aparezca en los celulares*/
header .container .hambur{
    display: none;
}

header .container nav a
{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.boton
{
    padding: 10px 25px 10px 25px;
    display: inline-block;
}

.boton.boton-blanco{
	background-color:#800000;
	color: #fff;
}
	
.boton.boton-rojo{
	background-color: #fff;
	color: #800000;
}

.container
{
    padding: 0 15px 0 15px;
    width: 1140px;
    margin: 0 auto 0 auto;
}

.container-fluid
{
    padding: 0 15px 0 15px;
    width: 100%;
}

.fila
{
    /*padding: 0 15px 0 15px;*/
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columna{
    padding: 0 15px 0 15px;
    font-size: 16px;
}

.columna-33
{
    width: 33.33%;
}

.columna-25{
	width: 30%;
}

.seccion
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.cuadrado-perfecto
{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.form-register{
	width: 300px;
	background: #9B8E8B;
	padding: 20px;
	margin: auto;
	margin-top: 100px;
	box-sizing: border-box;
	font-family: 'calibri';
	color: white;
}
.form-register h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.controls{
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	/*font-size: 18px;*/
	color: black;

}

.form-register p{
height: 40px;
text-align: center;
font-size: 15px;
line-height: 15px;
}

.form-register a{
color: white;
text-decoration: none; 
}

.form-register a:hover{
color: white;
text-decoration: underline;
}

.form-register .botons{
width: 100%;
background: #1f53c5;
border: none;
padding: 12px;
color:white;
margin: 16px 0;
font-size: 16px;
}

#inicio {
    position: relative;
    background-color: #1E1E1E;    
}

#inicio img{
    width: 100%;
    height: 550px;
    opacity: .5;
    display: block;
}

#inicio .bloque-banner{
    position: absolute; 
    top: 15%;
    left: 2%;
    width: 33%;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;     
}

#inicio .bloque-banner h1{
   font-size: 40px;
   margin-top: 0;
   margin-bottom: 15px; 
}

#nosotros
{
	background-image: linear-gradient(to top, rgba(30,30,30,0.8), #191970),url("img/nos.jpg");
  	color: #fff;
	font-size: 18px;
	text-align: center;
}

#servicios .bloque-servicio
{
    border: 1px solid rgba(204, 204, 204, 0.692)
}



#servicios .bloque-servicio .bloque-img-servicio
{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

#servicios .bloque-servicio .bloque-img-servicio img
{
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /*margin-bottom: -15px;
    margin-top: 19px;*/
 
}


#servicios .bloque-servicio .bloque-contenido-servicio h2
{
   margin-top:25px;
}

#galeria
{
    background-color:cadetblue;
    padding-bottom: 0;
    padding-top: 0;
}

#galeria .columna-33.cuadrado-perfecto
{
    width: 33.33%;
    padding-bottom: 33.33%;
    padding-right: 0;
    padding-left: 0;
}

#galeria .cuadrado-perfecto img
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in;
}

#galeria .cuadrado-perfecto img:hover
{
    opacity: 1;
}

#galeria .cuadrado-perfecto h3
{
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    top: 45%;
    color:yellow;
    width: 100%;
    font-size: 35px;
    text-align: center;
}


#ubicacion
{
    padding-top: 0;
    padding-bottom: 25%;
    position: relative;
}

#ubicacion iframe
{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
}

#admision{
	position: relative;
	padding-top: 20px;
}

#admision  .seccion{
	padding-top: 15px;
}

#admision .container{
	background: #B0C4DE;
	padding-top: 1px;
}

#admision .container{
	background: #B0C4DE;
	padding-top: .1px;
    padding-bottom: 100px;
}


footer.seccion{
	background-color:#1E1E1E;
	color:white;
	/*color:  #800000;*/
	padding-bottom: 0;
}

footer .logo-blanco{
	width: 75%;
	height: auto;

}

footer .pie{
	text-align: center;
	margin-top: 40px; /*para separar el pie del cuadrp anterior*/
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000;
}

footer ul{
	list-style: none;
	padding-left: 0;
}

footer ul li a{
	color:cornsilk;
}

.partFooter {
	width: 20%;
	text-align: center;
}

.partFooter h3{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0px;
	text-align: center;
}


.partFooter a{
	display: block;
	text-decoration: none; 
	color: #5D6678;
	font-weight: 300;
	transition: color .3s ease-in-out;
	margin-bottom: 10px;
}

.partFooter a:hover{
	color: #1FDE82;
}

.social-media i{
	font-size: 20px;
	display: inline-block;
	color: #adb6c7;
	border: 1px solid #adb6c7;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	transition: all ease-in-out .3s;
	margin-right: 5px;

}

.social-media i:hover{
	color: #fff;
	background-color: #0000FF;
	border-color: #0000FF;
}
/*diseño para celulares*/
@media(max-width: 767px)
{
	.container
    {
		width: 100%;
	}
    .columna-mobile-100
    {
        width: 100%;
    }
	header .container .hambur 
    {
	    display: block;
        font-size: 40px;
    }
    header .container nav
    {
	    display: none;
    }
    .seccion
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #inicio .bloque-banner
    {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -10%;
        top: 16%;
    }
    #inicio .bloque-banner h1
    {
        font-size: 30px;
    }
    #servicios .columna-mobile-100
    {
        margin-bottom: 15px;
    }
    #galeria .columna-mobile-100.cuadrado-perfecto
    {
        padding-bottom: 100%;
        width: 100%;
    }
    #ubicacion
    {
        padding-bottom: 100%;
    }
    footer .logo-blanco
    {
        width: 25%;
    }
    footer.seccion
    {
        text-align: center;
    }

    footer .pie
    {
        margin-top: 30px;
    }
}

/*estilos para la página nosotros*/
.contenedor-nosotros{
    margin-left: 35px;
}
.contenedor-sobre-nosotros
{
    display: flex;
    justify-content: space-evenly ;
}

.sobre-nosotros
{
    border-top: solid 3px #191970;
}

.sobre-nosotros h2
{
    text-align: center;
    color:#191970;
    font-size: 35px;
}

.imagen-nosotros-principal
{
    width: 45%;
    height: 600px;
    opacity: .9;
    display: block;
}


.imagen-nosotros
{
    width: 40%;
}


.sobre-nosotros .contenedor-textos
{
    width: 48%;
}

.contenedor-textos h3
{
    margin-bottom: 15px;
}

.contenedor-textos h3 span
{
    background: rgb(15, 15, 180);
    color:white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
    margin-right: 5px;
}

.contenedor-textos p
{
    padding: 0px 0px 15px 15px;
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
}

.contenedor-footer
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin:auto;
    padding-top: 0px;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}



footer.seccion-footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#1E1E1E;
	color:white;
	padding-bottom: 0;
}


.contenedor-footer
{
    text-align: center;
}

.contenedor-foo img
{
    width: 36px;
    height: 36px;
}
.contenedor-foo h4
{
    color:white;
    border-bottom: 3px solid rgb(60, 60, 216);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenedor-foo p
{
    color:white;
   
}

.titulo-final
{
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    color:white;
}

/*Estilo para la página servicio*/

.contenido-total
{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    padding: 50px;
    background: rgb(233, 228, 221);
    margin-top: 40px;
    /*border-top: 2px solid black;*/
}

.sub-titulos
{
    font-size: 18px;
   /* font-weight: 20px;*/
}
.contenido-total img
{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contenido-total .imgestadistica
{
    width: 150px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
.contenido-total h3
{
    font-size: 16px;
   /* font-weight: 200px;*/
}

.contenido-total p
{
    font-size: 16px;
    /*font-weight: 200px;*/
}

.contenido-total ul 
{
    font-size: 16px;
    /*font-weight: 200px;*/
    margin-right: 20px;
}

/*Estilo para la página galeria*/
.titulos
{
    text-align: center;
    color:#191970;
    font-size: 35px;
    padding-top:15px ;
    border-top: solid 3px #191970;
}